{% extends "base.html" %}
{% include "header.html" %}

{% block head %}
<link rel="stylesheet" href="static\css\main.css">
<link href="css/addons-pro/chat.css" rel="stylesheet">

{% endblock %}

{% block body %}
<div class="card grey lighten-4 chat-room">
    <div class="card-body">
      <!-- Grid row -->
      <div class="row px-lg-2 px-2">
        <!-- Grid column -->
        <div class="col-md-6 col-xl-12 pl-md-2 px-lg-auto px-0">
          <div class="chat-message">
            <ul class="list-unstyled chat">
              
              <li class="d-flex justify-content-between mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
                <div class="chat-body white p-3 ml-2 z-depth-1">
                  <div class="header">
                    <strong class="primary-font">Brad Pitt</strong>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                  </p>
                </div>
              </li>

              <li class="d-flex justify-content-between mb-4">
                <div class="chat-body white p-3 z-depth-1">
                  <div class="header">
                    <strong class="primary-font">Lara Croft</strong>
                    <small class="pull-right text-muted"><i class="far fa-clock"></i> 13 mins ago</small>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium.
                  </p>
                </div>
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="avatar" class="avatar rounded-circle mr-0 ml-3 z-depth-1">
              </li>
              <li class="white">
                <div class="form-group basic-textarea">
                  <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3" placeholder="Type your message here..."></textarea>
                </div>
              </li>
              <button type="button" class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
            </ul>
  
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
  </div>

{% endblock %}